

    <div class="card-group">
            <div class="card col-md-3" style="background-color: #707070">
              <div class="card-block">
                    <div class="row">
                            <div class="col-md-6"><h4 class="card-title" style="font-size:14px">TOTAL MARGIN</h4></div>
                            <div class="col-md-6"><p class="card-text" style="font-size:14px;padding-left: 110px;" [innerHTML]="totalMarginvaluepercentage"></p></div>                       
                    </div>
                    <div class="row" style="padding-top: 0px;padding-bottom: 10px">
                        <p class="card-text" style="font-size:30px;padding-left: 200px;" [innerHTML]="totalMarginValue"><i class="material-icons">arrow_drop_up</i></p>
                    </div>
              </div>
            </div>
             <div class="card col-md-3"  style="background-color: #ed1c24">
              <div class="card-block">
                    <div class="row">
                            <div class="col-md-6"><h4 class="card-title" style="font-size:14px">TOTAL RISK</h4></div>
                            <div class="col-md-6"><p class="card-text" style="font-size:14px;padding-left: 110px;" [innerHTML]="totalriskvaluepercentage"></p></div>                       
                    </div>
                    <div class="row" style="padding-top: 0px;padding-bottom: 10px">
                        <p class="card-text" style="font-size:30px;padding-left: 200px;" [innerHTML]="totalriskvalue"><i class="material-icons">arrow_drop_up</i></p>
                    </div>
                
                
              </div>
            </div>
            <div class="card col-md-3" style="background-color: #707070">
              <div class="card-block">
              <div class="row">
                    <div class="col-md-6"><h4 class="card-title" style="font-size:14px">TOTAL EXPOSURE</h4></div>
                    <div class="col-md-6"><p class="card-text" style="font-size:14px;padding-left: 110px;" [innerHTML]="totalexposurevaluepercentage"></p></div>                       
            </div>
            <div class="row" style="padding-top: 0px;padding-bottom: 10px">
                <p class="card-text" style="font-size:30px;padding-left: 200px;" [innerHTML]="totalexposurevalue"><i class="material-icons">arrow_drop_up</i></p>
            </div>
        </div>
            </div>
            <div class="card col-md-3" style="background-color: #cccccc">  
                    <div class="row">
                            <div class="col-md-6"><h4 class="card-title" style="font-size:14px">TOTAL PORTFOLIO VALUE</h4></div>
                            <div class="col-md-6"><p class="card-text" style="font-size:14px;padding-left: 110px;" [innerHTML]="totalportfoliovaluepercentage"></p></div>                       
                    </div>
                    <div class="row" style="padding-top: 0px;padding-bottom: 10px">
                        <p class="card-text" style="font-size:30px;padding-left: 200px;" [innerHTML]="totalportfoliovalue"><i class="material-icons">arrow_drop_up</i></p>
                    </div>
                  </div>
          </div>
    
    
    