<!-- <div class="row">
<div>

    <div class="dropdown" style="padding-left: 20px">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" 
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>


    <div >
        <label>EXPOSURE</label>
    </div>
    <div>
            <div>
                    <div class="pull-right"  >    
                            <i class="material-icons">apps</i>  
                    </div>
                    <div class="pull-right"  >    
                            <i class="material-icons">list</i>   
                    </div>
                    <div class="pull-right" >    
                            <i class="material-icons">person</i>  
                    </div>
                </div>
    </div>
</div> -->

     
        <div class="row" style="padding-top: 20px">
          <div class="col-md-4" >
                <div class="dropdown" style="padding-left: 20px">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" 
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                        1 Dec 2014 - 28 Feb 2015
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" >1 Mar 2015 - 30 May 2015</a>
                          <a class="dropdown-item" >1 Jun 2015 - 30 Sep 2015</a>
                        </div>
                      </div>

          </div>
          <div class="col-md-4" >
                <label class="text-center" style="padding-top: 10px">EXPOSURE<i class="material-icons">arrow down</i> </label>
          </div>
          <div class="col-md-4" >
                <div class="row"  style="padding-top: 10px;padding-left:400px">
                        <div  class="col-md-2">    
                                <i class="material-icons">apps</i>  
                        </div>
                        <div   class="col-md-2">    
                                <i class="material-icons">poll</i>  
                        </div>
                        <div class="col-md-2" >    
                                <i class="material-icons">data_usage</i>
                        </div>
                    </div>
              </div>
        </div>