
<!-- Header section-->
<div class="col-md-12" style=" background-color:#555555; height: 50px;"> 
<header></header>
</div>
<!-- summary section  -->
<div class="col-md-12" >
<summary></summary>
</div>
<!-- date range section-->
<div>
<daterange></daterange>
</div>
<!-- graphical details  section-->
<div class="row">
        <div class="col-md-4">
            <delta></delta>
        </div>
        <div class="col-md-4">
                <exposurechart></exposurechart>
            </div>
        <div class="col-md-4">
                <indicator></indicator>
            </div>
</div>
