<div class="container" style="padding-left: 10%">
        <div class="card-deck">
            
            <div class="card text-center" style="background-color: #707070">
                    
                <div class="card-block" >
                    <h4 class="card-title">&Delta;R > 40%</h4>                    
                </div>
                <div class="row">
                        <div class="card-footer">
                                <br style="font-size: 11px"> %Val
                                <br style="font-size: 24px"> 17%
                        </div>
                        <div class="card-footer text-warning">
                                <br style="font-size: 11px"> ACCTS
                                <br style="font-size: 24px"> 21
                        </div>
                     </div>
            </div>
            <div class="card text-center" style="background-color: #999999">
                <div class="card-block" >
                    <h4 class="card-title">&Delta;M > 40%</h4>
                    <p class="card-text">                       
                    </p>
                </div>
                <div class="row">
                        <div class="card-footer">
                                <br  style="font-size: 11px"> %Val
                                <br  style="font-size: 24px"> 8%
                        </div>
                        <div class="text-warning">
                                <br  style="font-size: 11px">ACCTS 
                                <br  style="font-size: 24px"> 17
                        </div>
                     </div>
            </div>
        </div>
        <div class="card-deck mt-4">
            <div class="card text-center" style="background-color: #707070">
                <div class="card-block">
                    <h4 class="card-title">&Delta;E > 40%</h4>
                    <p class="card-text">                       
                    </p>
                </div>
                <div class="row">
                        <div class="card-footer">
                                <br  style="font-size: 11px"> %Val
                                <br  style="font-size: 24px"> 23%
                        </div>
                        <div class="card-footer text-warning">
                                <br  style="font-size: 11px"> ACCTS
                                <br  style="font-size: 24px"> 27
                        </div>
                     </div>
            </div>
    
         
            <div class="card text-center" style="background-color: #707070">
                <div class="card-block" >
                    <h4 class="card-title">&Delta;pv > 40%</h4>
                    <p class="card-text">                       
                    </p>
                </div>
                <div class="row">
                <div class="card-footer">
                        <br  style="font-size: 11px"> %Val
                        <br  style="font-size: 24px"> 2%
                </div>
                <div class="card-footer text-warning">
                        <br style="font-size: 11px"> ACCTS
                        <br  style="font-size: 24px"> 4
                </div>
             </div>
            </div>
        </div>
    </div>
    <!-- <div class="container" style="padding-left: 10%">
            <div class="col-md-4" >
        <div class="row">
            <div >
                <div>     
                    <i class="material-icons">search</i>               
                </div>              
                <div>                  
                    <i class="material-icons">mode_edit</i>  
                </div>
                <div>
                    <i class="material-icons">clear</i>
                </div>
            </div> 
            <div  style="padding-top: 0% ">
                    <div class="card" style="width: 10rem;">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                          
                            </div>
                          </div>
                </div> 
        </div> 
       
        <div class="col-md-4" >
        <div class="row">

                <div >
                    <div>     
                        <i class="material-icons">search</i>               
                    </div>              
                    <div>                  
                        <i class="material-icons">mode_edit</i>  
                    </div>
                    <div>
                        <i class="material-icons">clear</i>
                    </div>
                </div> 
                <div  style="padding-top: 0% ">
                        <div class="card" style="width: 10rem;">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                              
                                </div>
                              </div>
                    </div> 
            </div> 
            </div>
</div>
            
    
        </div> -->

        <!-- <div class="container" style="padding-left: 10%">
    
                
            

                    <div class="col-md-12" >
                            <div class="row" >
                                    <div  class="col-md-2">    
                                            <i class="material-icons">search</i>  
                                            <i class="material-icons">mode_edit</i>    
                                            <i class="material-icons">clear</i>
                                    </div>
                                    <div   class="col-md-3">    
                                            <div class="card" style="width: 10rem;">
                                                    <div class="card-body">
                                                      <h5 class="card-title">Card title</h5>
                                                    </div>
                                                  </div>
                                    </div>
                                    <div  class="col-md-2">    </div>
                                    <div  class="col-md-2">    
                                            <i class="material-icons">search</i>  
                                            <i class="material-icons">mode_edit</i>    
                                            <i class="material-icons">clear</i>
                                    </div>
                                    <div   class="col-md-3">    
                                            <div class="card" style="width: 10rem;">
                                                    <div class="card-body">
                                                      <h5 class="card-title">Card title</h5>
                                                    </div>
                                                  </div>
                                    </div>
                                    
                                </div>
                                <div class="row" >
                                        <div  class="col-md-2">    
                                                <i class="material-icons">search</i>  
                                            <i class="material-icons">mode_edit</i>    
                                            <i class="material-icons">clear</i>
                                        </div>
                                        <div   class="col-md-3">    
                                                <div class="card" style="width: 10rem;">
                                                        <div class="card-body">
                                                          <h5 class="card-title">Card title</h5>
                                                        </div>
                                                      </div>
                                        </div>
                                        <div  class="col-md-2">    </div>
                                        <div  class="col-md-2">    
                                                <i class="material-icons">search</i>  
                                                <i class="material-icons">mode_edit</i>    
                                                <i class="material-icons">clear</i>
                                        </div>
                                        <div   class="col-md-3">    
                                                <div class="card" style="width: 10rem;">
                                                        <div class="card-body">
                                                          <h5 class="card-title">Card title</h5>
                                                        </div>
                                                      </div>
                                        </div>
                                        
                                    </div>
                          </div>

                          
                          
        </div>

        -->