<div class="row">

        <div class="col-md-5" >
                <div>
                <label class="text-center" style="padding-top: 10px;font-size:24px">21,213.63</label>
                </div>
                <div>
                <label class="text-center" style="padding-top: 10px;font-size:9px">INDICATOR 1</label>
                </div>
        </div>
        <div class="col-md-5" >
                <div>
                <label class="text-center" style="padding-top: 10px;font-size:24px">9,567.46</label>
                </div>
                <div >
                <label class="text-center" style="padding-top: 10px;font-size:9px">INDICATOR 3</label>
            </div>
        </div>      
    </div>

    <div class="row">
                <div class="col-md-5" >
                 <div>
                        <label class="text-center text-warning" style="padding-top: 10px;font-size:36px;">11.2%</label>
                    </div>
                        <label  class="text-center text-warning" style="padding-top: 10px;font-size:9px;">EXPOSURE INDICATOR 2</label>
                </div>
                <div class="col-md-5" >
                        <div>
                        <label class="text-center" style="padding-top: 10px;font-size:36px">505.65</label>
                    </div>
                    <div>
                        <label class="text-center" style="padding-top: 10px;font-size:9px">EXPOSURE INDICATOR 4</label>
                    </div>
                </div>      
            </div>